*{
	text-decoration: none;
font-family: 'Montserrat', sans-serif;
}
.navbar {
	background: white;

padding-right: 15px;
padding-left: 40px;
border-radius: 25px;
width: 80%;

margin: auto;
    overflow: hidden;
    position: sticky;
    top: 25px;
    border: .01px solid black;
\
}

  

li {
 list-style: none;
 display: inline-block;
}
.navdiv {
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.logo a {
	font-size: 28px;
	font-weight: 400px;
	color: 	blueviolet;

}
li a {
	color: black;
	font-size: 17px;
margin-right: 25px;
transition: color .3s ease;
}
.bgc {

background-image: url('DonateMe.png');
height: 400px;
width: 100%;


	    	   
}
body {
	padding:0;
margin: 0;
}
li a:hover{
	color: #818589;
	transition: color .3s ease;

}
#h {
	color: green;
}
.mes {
	background-color: #8C52FF;
	height: auto;
	width: auto;
	margin-top: 15px;
	    box-shadow: -15px 15px 10px -15px #111;    

transition: border .3s ease;
color: white;
}
.column h3 {
	font-weight: lighter;
	font-size: 27px;
}
.column p {
	font-weight: lighter;
		font-size: 17px;
}
.column {
	margin: auto;
  float: left;
  width: 47.5%;
padding: 15px;
width: auto;
}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;

}
body {

	   animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: margin-bottom 1s ease;
}
 
@keyframes fadeInAnimation {
    0% {
    	filter: blur(8px);

        margin-top: 1%;
    }
    100% {
    	filter: blur(.40px);
 
        margin-top : 0%;
     }
}
footer {
	background-color: #D735FF;
	height: 300px;
	margin-top: 20px;
	    box-shadow: -15px 15px 10px -15px #111;  
	    color: white;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .column, section, .bgc {
    width: auto;

border-radius: 0;
  }
  .logo a {
  	font-size: 25px;
  }
}
@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .column, section {
    width: auto;
  }
}

#about {
	transition: color .2s ease;
}#co {
	transition: color .2s ease;
}
footer h3 {
	font-weight: lighter;
	font-size: 27px;
	margin-top: 15px;
}
.content {
	padding: 15px;
}
button {
	background: lime;
	border: none;
	cursor: pointer;
	color: black;
padding: 6px;
border-radius: 10px;
}
input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
}
#donate {
	transition: color 1s ease;
}